@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>123456ddd</p>
    <p>1dddddw</p>
    <h2>aas235666</h2>
    <p>leewo0002</p>
    <h2>jifiv9565</h2>
    <p>
        testtest
        ido333444
    </p>
</div>
